body{
    background-color: #23272A !important;
    color: whitesmoke !important;
    margin-top: 20px !important;
    text-align: center !important;
}

img{
    max-width: 250px;
    border-style: inset;
    border-color: #5865F2;
    border-radius: 50%;
}
a{
    text-decoration: none !important;
    font-size: 20px;
    color: whitesmoke !important;
}
section{
    background-color: #5865F2;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    padding: 15px;
}